<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/favicon.ico}">

    <title>仪表盘 Template for Bootstrap</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">仪表盘</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">配置</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/admin/index">总览 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/admin/company/show">企业管理</a></li>
            <li><a href="/admin/activity/show">活动管理</a></li>
            <li><a href="/admin/user/show">用户管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="container">
              <div class="row clearfix">
                <div class="col-md-12 column">
                  <div class="col-md-8 column">
                    <form role="form" method="post" action="/admin/company/update-info">
                      <input name="companyId" type="hidden" class="form-control" id="companyId" th:value="${company.companyId}"/>
                      <div class="form-group">
                        <label for="companyName">企业名称</label><input name="companyName" type="text" class="form-control" id="companyName" th:value="${company.companyName}"/>
                      </div>

                      <div class="form-group">
                        <label for="companyLogo">企业Logo</label>
                        <img th:src="${company.companyLogo}" class="img-rounded" alt="无图片">
                        <input name="companyLogo" type="text" class="form-control" id="companyLogo" th:value="${company.companyLogo}"/>
                      </div>

                      <div class="form-group">
                        <label for="companyDescribe">业务描述</label>
                        <textarea rows="5" cols="24" class="form-control" name="companyDescribe" id="companyDescribe" th:text="${company.companyDescribe}">默认出现文本</textarea>
                      </div>

                      <div class="form-group">
                        <label for="companyLicense">企业营业执照</label>
                        <img th:src="${company.companyLicense}" class="img-rounded" alt="无图片">
                        <input name="companyLicense" type="text" class="form-control" id="companyLicense" th:value="${company.companyLicense}"/>
                      </div>

                      <div class="form-group">
                        <label for="companyStatus">注册状态</label>
                        <input name="companyStatus" type="number" class="form-control" id="companyStatus" th:value="${company.companyStatus}"/>
                      </div>

                      <div class="form-group">
                        <label for="companyRegister">注册机关单位</label><input name="companyRegister" type="text" class="form-control" id="companyRegister" th:value="${company.companyRegister}"/>
                      </div>
                      <div class="form-group">
                        <label for="companyManger">法人姓名</label><input  name="companyManger" type="text" class="form-control" id="companyManger" th:value="${company.companyManger}"/>
                      </div>
                      <div class="form-group">
                        <label for="companyPhone">联系方式</label><input name="companyPhone" type="text" class="form-control" id="companyPhone" th:value="${company.companyPhone}"/>
                      </div>
                      <div class="form-group">
                        <label for="companyIdcard">身份证号码</label><input name="companyIdcard" type="text" class="form-control" id="companyIdcard" th:value="${company.companyIdcard}"/>
                      </div>
                      <div class="form-group">
                        <label for="companyRegdate">起始注册时间</label><input name="companyRegdate" type="date"
                        class="form-control" id="companyRegdate" th:value="${#dates.format(company.companyRegdate, 'yyyy-MM-dd')}"/>
                      </div>
                      <div class="form-group">
                        <label for="companyUnregdate">注册到期时间</label><input name="companyUnregdate" type="date" class="form-control" id="companyUnregdate" th:value="${#dates.format(company.companyUnregdate, 'yyyy-MM-dd')}"/>
                      </div>
                      <div class="checkbox">
                        <!--<label><input type="checkbox" />Check me out</label>-->
                      </div> <button type="submit" class="btn btn-default">确认修改</button>
                    </form>
                  </div>
                  <div class="col-md-4 column">
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    <!-- Bootstrap core JavaScript -->
  </body>
</html>
