<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../static/favicon.ico">
    <title>后台管理</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/dash-board.css}" href="../../static/bootstrap/css/dash-board.css" rel="stylesheet"/>
    <script th:src="@{/bootstrap/script/jquery-3.4.1.min.js}" src="../../static/bootstrap/script/jquery-3.4.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">骊山鹿鸣教育科技后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">仪表盘</a></li>
                <li><a href="#">选项设置</a></li>
                <li><a href="#">系统配置</a></li>
                <li><a href="#">帮助信息</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <label>
                    <input type="text" class="form-control" placeholder="搜索...">
                </label>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">系统概览 <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li class="active"><a href="/admin/company/show_pass">企业管理</a></li>
                <li><a href="/admin/company/show">申请入驻</a></li>
                <li><a href="/admin/company/show">企业会员</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">用户管理</a></li>
                <li><a href="">兼职申请</a></li>
                <li><a href="">兼职订单</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--<h3 class="sub-header">企业管理 >> 企业详情</h3>-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb">
                        <li>你现在所在的位置 >>
                            <a href="/buckmoo/admin/company/show_pass">企业管理</a>
                        </li>
                        <li>
                            <a href="#">企业详情</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-6 column">
                    <form role="form" method="post" th:action="@{/admin/company/update_info}">
<!--                        <label>-->
<!--                            <input name="companyId" th:value="${companyInfoVO.getCompanyId()}" hidden="hidden">-->
<!--                        </label>-->
                        <div class="form-group">
                            <label for="companyName">企业名称</label>
                            <input type="text" th:value="${companyInfoVO.getCompanyName()}" class="form-control" name="companyName" id="companyName" />
                        </div>
                        <div class="form-group">
                            <label for="companyId">社会统一信用码</label>
                            <input type="text" th:value="${companyInfoVO.getCompanyId()}" class="form-control" name="companyId" id="companyId" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label for="companyLicense">营业执照</label>
                            <input type="text" th:value="${companyInfoVO.getCompanyLicense()}" class="form-control" name="companyLicense" id="companyLicense" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label for="companyPhone">企业联系人</label>
                            <input type="text" th:value="${companyInfoVO.getCompanyPhone()}" class="form-control" name="companyPhone" id="companyPhone" />
                        </div>
                        <div class="form-group">
                            <label for="companyMember">会员等级</label><br>
                            <select style="height: 40px; width: 100px" id="companyMember" name="companyMember">
                                　　<option value="0" th:selected="${companyInfoVO.getCompanyMember()} == 0">非会员</option>
                                　　<option value="1" th:selected="${companyInfoVO.getCompanyMember()} == 1">白银会员</option>
                                　　<option value="2" th:selected="${companyInfoVO.getCompanyMember()} == 2">黄金会员</option>
                                　　<option value="3" th:selected="${companyInfoVO.getCompanyMember()} == 3">钻石会员</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="memberOverdueDate">会员到期时间</label>
                            <label>
                                <input id="memberOverdue" name="memberOverdue" th:value="${companyInfoVO.getMemberOverdue()}" hidden="hidden">
                            </label>
                            <input type="date" class="form-control" id="memberOverdueDate" />
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="exampleInputFile">File input</label>-->
<!--                            <input type="file" id="exampleInputFile" />-->
<!--                            <p class="help-block">-->
<!--                                Example block-level help text here.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <div class="checkbox">-->
<!--                            <label><input type="checkbox" />Check me out</label>-->
<!--                        </div> -->
                        <button class="btn btn-success" type="submit" onclick="changeData()">确认修改</button>
                    </form>
                </div>
                <div class="col-md-6 column">
                    <div class="row clearfix">
                        <img alt="" style="padding: 10px; width: 100%"  th:src="${companyInfoVO.getCompanyLicense()}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //把long转为日期类型
    var long_input = document.getElementById('memberOverdue');
    console.log(long_input.value);
    document.getElementById('memberOverdueDate').valueAsDate = new Date(parseInt(long_input.value));
    console.log('finish');

    //日期类型转long类型
    function changeData() {
        var long_input = document.getElementById('memberOverdue');
        long_input.value = new Date(document.getElementById('memberOverdueDate').value).getTime();
        //alert(long_input.value);
    }
</script>
</body>
</html>