<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="../static/favicon.ico">
    <title>后台管理</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/dash-board.css}" href="../../static/bootstrap/css/dash-board.css" rel="stylesheet"/>
    <script th:src="@{/bootstrap/script/jquery-3.4.1.min.js}" src="../../static/bootstrap/script/jquery-3.4.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">骊山鹿鸣教育科技后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">仪表盘</a></li>
                <li><a href="#">选项设置</a></li>
                <li><a href="#">系统配置</a></li>
                <li><a href="#">帮助信息</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <label>
                    <input type="text" class="form-control" placeholder="搜索...">
                </label>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/}">系统概览 <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="/buckmoo/admin/company/show_pass">企业管理</a></li>
                <li class="active"><a href="/buckmoo/admin/company/show_audit">申请入驻</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">用户管理</a></li>
                <li><a href="">兼职申请</a></li>
                <li><a href="">兼职订单</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb">
                        <li>你现在所在的位置 >>
                            <a href="/buckmoo/admin/company/show_audit">申请入驻</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>企业名称</th>
                        <th>社会统一信用码</th>
                        <th>联系方式</th>
                        <th>认证状态</th>
                        <th>认证操作</th>
                        <th style="width: 20%">备注信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="companyInfoVO: ${list_audit}">
                        <td>
                            <a th:href="${companyInfoVO.getCompanyLicense()}" th:text="${companyInfoVO.getCompanyName()}" id="companyName">Name</a>
                        </td>
                        <td th:text="${companyInfoVO.getCompanyId()}" id="companyId">Lorem</td>
                        <td th:text="${companyInfoVO.getCompanyPhone()}" id="companyPhone">ipsum</td>
                        <td th:text="${companyInfoVO.getCompanyStatusStr()}" id="companyMemberStr">dolor</td>
                        <td>
                            <button th:onclick="" class="btn btn-sm btn-success">通过</button>
                            <button th:onclick="" class="btn btn-sm btn-danger">否决</button>
                        </td>
                        <td>
                            <label>
                                <input class="form-control" placeholder="否决的备注信息..." type="text" id="remake_info">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="pagination">
                        <ul class="pagination">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <ul class="pagination">
                                        <li>
                                            <a th:href="${page_index <= 0}? '#': '/buckmoo/admin/company/show_audit?pageindex='+${page_index-1}">Prev</a>
                                        </li>
                                        <li th:class="${page_index == 0}?'active':null">
                                            <a href="/buckmoo/admin/company/show_audit?pageindex=0">1</a>
                                        </li>
                                        <li th:class="${page_index == 1}?'active':null">
                                            <a href="/buckmoo/admin/company/show_audit?pageindex=1">2</a>
                                        </li>
                                        <li th:class="${page_index == 2}?'active':null">
                                            <a href="/buckmoo/admin/company/show_audit?pageindex=2">3</a>
                                        </li>
                                        <li th:class="${page_index == 3}?'active':null">
                                            <a href="/buckmoo/admin/company/show_audit?pageindex=3">4</a>
                                        </li>
                                        <li th:class="${page_index == 4}?'active':null">
                                            <a href="/buckmoo/admin/company/show_audit?pageindex=5">5</a>
                                        </li>
                                        <li>
                                            <a th:href="@{'/admin/company/show_audit?pageindex='+ ${page_index+1}}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>