<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/favicon.ico}">

    <title>后台系统</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">仪表盘</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">配置</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/admin/index">总览 <span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/company/show">企业管理</a></li>
            <li class="active"><a href="/admin/activity/show">活动管理</a></li>
            <li><a href="/admin/user/show">用户管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <!-- 顶部导航栏 -->
              <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active">
                      <a href="/admin/activity/addHtml">新增活动信息</a>
                    </li>
                    <li>
                      <a href="#">Link</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#">Action</a>
                        </li>
                        <li>
                          <a href="#">Another action</a>
                        </li>
                        <li>
                          <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                          <a href="#">Separated link</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                          <a href="#">One more separated link</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <form class="navbar-form navbar-left" role="search" action="/admin/activity/show" method="get">
                    <div class="form-group">
                      <input type="text" class="form-control" name="activityName"/>
                    </div>
                    <button type="submit" class="btn btn-default">查找</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#">Link</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#">Action</a>
                        </li>
                        <li>
                          <a href="#">Another action</a>
                        </li>
                        <li>
                          <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                          <a href="#">Separated link</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>

              </nav>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>活动名称</th>
                  <th>主办方</th>
                  <th>承办方</th>
                  <th>开始时间</th>
                  <th>活动地址</th>
                  <th>审核情况</th>
                  <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="activity: ${activities}">
                  <td th:text="${activity.activityName}">1,001</td>
                  <td th:text="${activity.activitySponsor}">1,001</td>
                  <td th:text="${activity.activityUndertake}">1,001</td>
                  <td th:text="${#dates.format(activity.activityStart, 'yyyy-MM-dd HH:mm')}">1,001</td>
                  <td th:text="${activity.activityAddress}">1,001</td>
                  <td>
                    <p th:if="${activity.activityAudit} eq 0" style="color: #5bc0de" th:text="未审核"></p>
                    <p th:if="${activity.activityAudit} eq 1" style="color: #4cae4c" th:text="已通过"></p>
                    <p th:if="${activity.activityAudit} eq 2" style="color: #d43f3a" th:text="未通过"></p>
                  </td>
                  <td><div class="btn-group">
                    <button class="btn btn-default"> 操作 </button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a th:href="@{/admin/activity/update(activityId=${activity.activityId})}">修改信息</a>
                      </li>
                      <li class="warning">
                        <a th:href="@{/admin/activity/delete(activityId=${activity.activityId})}">删除数据</a>
                      </li>
                      <li class="disabled">
                        <a onclick="" href="#">其他操作</a>
                      </li>
                    </ul>
                  </div></td>
                </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </body>
</html>
