<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>操作成功</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<script type="text/javascript">
    onload=function(){
        setInterval(go, 1000);
    };
    var x=3; //利用了全局变量来执行
    function go(){
        x--;
        if(x>0){
            document.getElementById("return_time").innerHTML=x; //每次设置的x的值都不一样了。
        }else{
            location.href='/';
        }
    }
</script>
<body>
<div class="container">
    <div class="row clearfix">
        <br><br><br>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h2>
                    操作成功！<span id="return_time">3</span>秒后自动返回
                </h2>
                <strong>Success!</strong> 也可以点击<a href="/admin/index" class="alert-link">这里</a>直接返回
            </div>
        </div>
    </div>
</div>

</body>
</html>